NET "clk" LOC = P180;
NET "clk" IOSTANDARD = LVCMOS33;

NET "clk_50MHZ" LOC = P183;
NET "clk_50MHZ" IOSTANDARD = LVCMOS33;

NET "IN_TNI_3V3_XP1" LOC = P115;
NET "IN_TNI_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_TNI_1_3V3_XP1" LOC = P113;
NET "IN_TNI_1_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_TKI_3V3_XP1" LOC = P127;
NET "IN_TKI_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_T1_4_3V3_XP1" LOC = P69;
NET "IN_T1_4_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_TKI_1_3V3_XP1" LOC = P71;
NET "IN_TKI_1_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_TNP_3V3_XP1" LOC = P96;
NET "IN_TNP_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_TKP_3V3_XP1" LOC = P97;
NET "IN_TKP_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_TKP1_3V3_XP1" LOC = P89;
NET "IN_TKP1_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV1_3V3_XP2" LOC = P128;
NET "OUT_REZERV1_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV2_3V3_XP2" LOC = P167;
NET "OUT_REZERV2_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV3_3V3_XP2" LOC = P165;
NET "OUT_REZERV3_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_F_5MHZ_ETALON_3V3" LOC = P164;
NET "OUT_F_5MHZ_ETALON_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_T5MIN_60SEC_3V3" LOC = P163;
NET "OUT_T5MIN_60SEC_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_TEST1_3V3" LOC = P162;
NET "OUT_TEST1_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_TEST2_3V3" LOC = P178;
NET "OUT_TEST2_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_TEST3_3V3" LOC = P129;
NET "OUT_TEST3_3V3" IOSTANDARD = LVCMOS33;

NET "IN_TOBM_3V3_XP1" LOC = P147;
NET "IN_TOBM_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_TNC_3V3_XP1" LOC = P175;
NET "IN_TNC_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_TNO_3V3_XP1" LOC = P174;
NET "IN_TNO_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_REZERV4_3V3_XP1" LOC = P169;
NET "IN_REZERV4_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_REZERV_3V3_XP1" LOC = P168;
NET "IN_REZERV_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_REZERV1_3V3_XP1" LOC = P161;
NET "IN_REZERV1_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_REZERV2_3V3_XP1" LOC = P160;
NET "IN_REZERV2_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "IN_REZERV3_3V3_XP1" LOC = P159;
NET "IN_REZERV3_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "INT8" LOC = P146;
NET "INT8" IOSTANDARD = LVCMOS33;

NET "INT9" LOC = P145;
NET "INT9" IOSTANDARD = LVCMOS33;

NET "INTa" LOC = P112;
NET "INTa" IOSTANDARD = LVCMOS33;

NET "OUT_TKI_1_3V3_XP2" LOC = P109;
NET "OUT_TKI_1_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TNP_3V3_XP2" LOC = P205;
NET "OUT_TNP_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TKP_3V3_XP2" LOC = P203;
NET "OUT_TKP_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TKP1_3V3_XP2" LOC = P202;
NET "OUT_TKP1_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TOBM_3V3_XP2" LOC = P200;
NET "OUT_TOBM_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TNC_3V3_XP2" LOC = P199;
NET "OUT_TNC_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TNO_3V3_XP2" LOC = P197;
NET "OUT_TNO_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV4_3V3_XP2" LOC = P196;
NET "OUT_REZERV4_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV_3V3_XP2" LOC = P193;
NET "OUT_REZERV_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TX_3V3_XP1" LOC = P181;
NET "OUT_TX_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV5_3V3_XP1" LOC = P90;
NET "OUT_REZERV5_3V3_XP1" IOSTANDARD = LVCMOS33;

NET "OUT_TNI_3V3_XP2" LOC = P93;
NET "OUT_TNI_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TKI_3V3_XP2" LOC = P94;
NET "OUT_TKI_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_T1_4_3V3_XP2" LOC = P192;
NET "OUT_T1_4_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "OUT_TKI1_3V3_XP2" LOC = P190;
NET "OUT_TKI1_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "MOSI_MK" LOC = P47;
NET "MOSI_MK" IOSTANDARD = LVCMOS33;
NET "MOSI_MK" PULLUP;

NET "MISO_MK" LOC = P48;
NET "MISO_MK" IOSTANDARD = LVCMOS33;

NET "CS_FPGA_MK" LOC = P49;
NET "CS_FPGA_MK" IOSTANDARD = LVCMOS33;
NET "CS_FPGA_MK" PULLUP;

NET "SCLK_MK" LOC = P50;
NET "SCLK_MK" IOSTANDARD = LVCMOS33;
NET "SCLK_MK" PULLUP;

NET "USART2_RX" LOC = P74;
NET "USART2_RX" IOSTANDARD = LVCMOS33;

NET "USART2_TX" LOC = P75;
NET "USART2_TX" IOSTANDARD = LVCMOS33;

NET "USART3_TX" LOC = P72;
NET "USART3_TX" IOSTANDARD = LVCMOS33;

NET "USART3_RX" LOC = P76;
NET "USART3_RX" IOSTANDARD = LVCMOS33;

//---------------------------------------------------
NET "PWDWN_ETHERNET_PLIS" LOC = P77;
NET "PWDWN_ETHERNET_PLIS" IOSTANDARD = LVCMOS33;

NET "RESET_WIZ" LOC = P78;
NET "RESET_WIZ" IOSTANDARD = LVCMOS33;

NET "INT_W5100" LOC = P98;
NET "INT_W5100" IOSTANDARD = LVCMOS33;
NET "INT_W5100" PULLUP;

NET "MOSI_W5100" LOC = P153;
NET "MOSI_W5100" IOSTANDARD = LVCMOS33;

NET "MISO_W5100" LOC = P152;
NET "MISO_W5100" IOSTANDARD = LVCMOS33;
NET "MISO_W5100" PULLUP;

NET "SCLK_W5100" LOC = P107;
NET "SCLK_W5100" IOSTANDARD = LVCMOS33;

NET "CS_W5100" LOC = P116;
NET "CS_W5100" IOSTANDARD = LVCMOS33;

//-----------------------------------------------
NET "INT1" LOC = P108;
NET "INT1" IOSTANDARD = LVCMOS33;

NET "INT2" LOC = P106;
NET "INT2" IOSTANDARD = LVCMOS33;

NET "INT3" LOC = P2;
NET "INT3" IOSTANDARD = LVCMOS33;

NET "INT4" LOC = P3;
NET "INT4" IOSTANDARD = LVCMOS33;

NET "INT5" LOC = P186;
NET "INT5" IOSTANDARD = LVCMOS33;

NET "INT6" LOC = P189;
NET "INT6" IOSTANDARD = LVCMOS33;

NET "INT7" LOC = P187;
NET "INT7" IOSTANDARD = LVCMOS33;

NET "RTS_485" LOC = P185;
NET "RTS_485" IOSTANDARD = LVCMOS33;

NET "IN_VKL_COM_FT_3V3" LOC = P43;
NET "IN_VKL_COM_FT_3V3" IOSTANDARD = LVCMOS33;

NET "IN_REZERV_1_UPR_3V3" LOC = P51;
NET "IN_REZERV_1_UPR_3V3" IOSTANDARD = LVCMOS33;

NET "IN_TEST1_3V3" LOC = P124;
NET "IN_TEST1_3V3" IOSTANDARD = LVCMOS33;

NET "IN_TEST2_3V3" LOC = P118;
NET "IN_TEST2_3V3" IOSTANDARD = LVCMOS33;

NET "IN_FT50OM_3V3" LOC = P110;
NET "IN_FT50OM_3V3" IOSTANDARD = LVCMOS33;

NET "IN_TNC24V_3V3" LOC = P101;
NET "IN_TNC24V_3V3" IOSTANDARD = LVCMOS33;

NET "CS_WIZ" LOC = P130;
NET "CS_WIZ" IOSTANDARD = LVCMOS33;

NET "IN_SYNC1_3V3" LOC = P136;
NET "IN_SYNC1_3V3" IOSTANDARD = LVCMOS33;

NET "IN_SYNC2_3V3" LOC = P142;
NET "IN_SYNC2_3V3" IOSTANDARD = LVCMOS33;

NET "IN_TNO24V_3V3" LOC = P148;
NET "IN_TNO24V_3V3" IOSTANDARD = LVCMOS33;

NET "IN_REZERV_2_UPR_3V3" LOC = P54;
NET "IN_REZERV_2_UPR_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_AVARIA_PIT_1_FT_3V3" LOC = P140;
NET "OUT_AVARIA_PIT_1_FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_NORM_PIT_2FT_3V3" LOC = P139;
NET "OUT_NORM_PIT_2FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_NORM_PIT_1FT_3V3" LOC = P138;
NET "OUT_NORM_PIT_1FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_AVARIA_PIT_2_FT_3V3" LOC = P137;
NET "OUT_AVARIA_PIT_2_FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_RAB_KAN_1FT_3V3" LOC = P135;
NET "OUT_RAB_KAN_1FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_RAB_KAN_2FT_3V3" LOC = P134;
NET "OUT_RAB_KAN_2FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_RAB_KAN_3FT_3V3" LOC = P133;
NET "OUT_RAB_KAN_3FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_RAB_KAN_4FT_3V3" LOC = P132;
NET "OUT_RAB_KAN_4FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_AVARIA_KAN_4_FT_3V3" LOC = P144;
NET "OUT_AVARIA_KAN_4_FT_3V3" IOSTANDARD = LVCMOS33;

NET "TX_FTDI_1" LOC = P28;
NET "TX_FTDI_1" IOSTANDARD = LVCMOS33;

NET "RX_FTDI_1" LOC = P25;
NET "RX_FTDI_1" IOSTANDARD = LVCMOS33;

NET "RESET_MK_FTDI" LOC = P24;
NET "RESET_MK_FTDI" IOSTANDARD = LVCMOS33;

NET "BOOT0_FTDI" LOC = P23;
NET "BOOT0_FTDI" IOSTANDARD = LVCMOS33;

NET "BOOT0_FPGA" LOC = P22;
NET "BOOT0_FPGA" IOSTANDARD = LVCMOS33;

NET "RESET_MK" LOC = P19;
NET "RESET_MK" IOSTANDARD = LVCMOS33;

NET "BOOT_TX_MK" LOC = P18;
NET "BOOT_TX_MK" IOSTANDARD = LVCMOS33;

NET "BOOT_RX_MK" LOC = P16;
NET "BOOT_RX_MK" IOSTANDARD = LVCMOS33;

NET "OUT_AVARIA_KAN_3_FT_3V3" LOC = P15;
NET "OUT_AVARIA_KAN_3_FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_AVARIA_KAN_2_FT_3V3" LOC = P4;
NET "OUT_AVARIA_KAN_2_FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_AVARIA_KAN_1_FT_3V3" LOC = P5;
NET "OUT_AVARIA_KAN_1_FT_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV_KONTR_2_3V3" LOC = P8;
NET "OUT_REZERV_KONTR_2_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV_KONTR_1_3V3" LOC = P9;
NET "OUT_REZERV_KONTR_1_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_NORMA_TEMP_1U07FI_3V3" LOC = P11;
NET "OUT_NORMA_TEMP_1U07FI_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_PA_1U07_FI_3V3" LOC = P68;
NET "OUT_PA_1U07_FI_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV_KONTR_4_3V3" LOC = P151;
NET "OUT_REZERV_KONTR_4_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_REZERV_KONTR_3_3V3" LOC = P150;
NET "OUT_REZERV_KONTR_3_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_TNI_1_3V3_XP2" LOC = P12;
NET "OUT_TNI_1_3V3_XP2" IOSTANDARD = LVCMOS33;

NET "DEBAG_PWM1" LOC = P82;
NET "DEBAG_PWM1" IOSTANDARD = LVCMOS33;

NET "DEBAG_PWM2" LOC = P83;
NET "DEBAG_PWM2" IOSTANDARD = LVCMOS33;

NET "SRAM_A17" LOC = P55;
NET "SRAM_A17" IOSTANDARD = LVCMOS33;



NET "MK_DATA0" LOC = P64;
NET "MK_DATA0" IOSTANDARD = LVCMOS33;

NET "MK_DATA1" LOC = P63;
NET "MK_DATA1" IOSTANDARD = LVCMOS33;

NET "MK_DATA2" LOC = P62;
NET "MK_DATA2" IOSTANDARD = LVCMOS33;

NET "MK_DATA3" LOC = P45;
NET "MK_DATA3" IOSTANDARD = LVCMOS33;

NET "MK_DATA4" LOC = P42;
NET "MK_DATA4" IOSTANDARD = LVCMOS33;

NET "MK_DATA5" LOC = P41;
NET "MK_DATA5" IOSTANDARD = LVCMOS33;

NET "MK_DATA6" LOC = P40;
NET "MK_DATA6" IOSTANDARD = LVCMOS33;

NET "MK_DATA7" LOC = P39;
NET "MK_DATA7" IOSTANDARD = LVCMOS33;

NET "MK_DATA8" LOC = P36;
NET "MK_DATA8" IOSTANDARD = LVCMOS33;


NET "DATA_PD8" LOC = P35;
NET "DATA_PD8" IOSTANDARD = LVCMOS33;

NET "DATA_PD9" LOC = P34;
NET "DATA_PD9" IOSTANDARD = LVCMOS33;

NET "DATA_PD10" LOC = P33;
NET "DATA_PD10" IOSTANDARD = LVCMOS33;

NET "DATA_PD11" LOC = P31;
NET "DATA_PD11" IOSTANDARD = LVCMOS33;

NET "DATA_PD12" LOC = P30;
NET "DATA_PD12" IOSTANDARD = LVCMOS33;

NET "DATA_PD13" LOC = P29;
NET "DATA_PD13" IOSTANDARD = LVCMOS33;

NET "DATA_PD14" LOC = P171;
NET "DATA_PD14" IOSTANDARD = LVCMOS33;

NET "DATA_PD15" LOC = P122;
NET "DATA_PD15" IOSTANDARD = LVCMOS33;



NET "OUT_CONTROL_K2_3V3" LOC = P120;
NET "OUT_CONTROL_K2_3V3" IOSTANDARD = LVCMOS33;

NET "OUT_CONTROL_K1_3V3" LOC = P119;
NET "OUT_CONTROL_K1_3V3" IOSTANDARD = LVCMOS33;

NET "RE_485" LOC = P177;
NET "RE_485" IOSTANDARD = LVCMOS33;

NET "RXD_FTDI_2" LOC = P126;
NET "RXD_FTDI_2" IOSTANDARD = LVCMOS33;

NET "TXD_FTDI_2" LOC = P204;
NET "TXD_FTDI_2" IOSTANDARD = LVCMOS33;

NET "RX_485_MG" LOC = P179;
NET "RX_485_MG" IOSTANDARD = LVCMOS33;


NET "TX_485_MG" LOC = P123;
NET "TX_485_MG" IOSTANDARD = LVCMOS33;



# PlanAhead Generated IO constraints 
NET "BOOT0_FTDI" PULLUP;
NET "RESET_MK_FTDI" PULLUP;
#Created by Constraints Editor (xc3s500e-pq208-4) - 2018/04/13
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;
#NET "MF1US_controlCLK/sch64_02" TNM_NET = MF1US_controlCLK/sch64_02;
#TIMESPEC TS_MF1US_controlCLK_sch64_02 = PERIOD "MF1US_controlCLK/sch64_02" 15 ns HIGH 50%;
#Created by Constraints Editor (xc3s500e-pq208-4) - 2018/04/16
NET "MF1US_controlCLK/sch64_01" TNM_NET = MF1US_controlCLK/sch64_01;
TIMESPEC TS_MF1US_controlCLK_sch64_01 = PERIOD "MF1US_controlCLK/sch64_01" 14 ns HIGH 50%;
